{% macro colorTileGrid(color, cb) %}
    <div class='flex w-fit p-2 h-fit overflow-x-scroll'>
        {# This is the container for the color tiles #}
        {% for item in sequence %}{% endfor %}
        <div class='w-4 h-4'></div>
    </div>
{% endmacro %}