{# Render components to display output visually. Make it pretty #}
{% block demo %}{% endblock demo %}

<section>

    <h3>{{spec.name}}</h3>

    <p>{{spec.description}}</p>

    {% for func in spec.data %}
    <p>{{func.description}}</p>

    {% if Array.isArray(func.expect) %}
    {% for color in func.expect %}
    <div class="flex-col space-y-2">
        <p class="text-sm">{{color}}</p>
        <div class="w-8 h-8 rounded-md shadow-md bg-[{{color}}]"></div>
    </div>
    {% endfor %}
    {% else %}
    <div class="flex-col space-y-2">
        <p class="text-sm">{{func.expect}}</p>
        <div class="w-8 h-8 rounded-md shadow-md bg-[{{func.expect}}]"></div>
    </div>

    {% endif %}


    {% endfor %}

</section>