{# Render components to display output visually. Make it pretty #}
{% block demo %}{% endblock demo %}

<section>

    <h3>{{moduleName}}</h3>

    <p>{{moduleDescription}}</p>

    {% for func,props in spec %}
    <p>{{func}}</p>
    <p>{{props.description}}</p>
    {% if isColorCollection(func.expect) %}
    {% for color in func.expect %}
    <div class="flex-col space-y-2">
        <div class="w-8 h-8 rounded-md shadow-md bg-[{{color}}]"></div>
        <p class="text-sm text-slate-400">{{color}}</p>

    </div>
    {% endfor %}
    {% else %}
    <div class="flex-col space-y-2">
        <p class="text-sm">{{func.expect}}</p>
        <div class="w-8 h-8 rounded-md shadow-md bg-[{{func.expect}}]"></div>
    </div>

    {% endif %}


    {% endfor %}

</section>