{% extends "./layouts/base.njk" %}


{% block heading %}
Download
{% endblock heading %}

{% block description %}
On this page, you'll find links to download the library's source code if you wish to self host the library bundle.
{% endblock description %}


{% block content %}
{{pages.downloads}}
{% endblock content %}