{% extends "./layouts/base.njk" %}

{% block content %}

{{home.content | safe}}

<h2 class="tracking-tight text-purple-600 text-left text-lg font-semibold font-sans">Demos</h2>

{% include "./partials/demo.njk" %}

{% endblock content %}