{% extends "./layouts/base.njk" %}


{% block heading %}
References
{% endblock heading %}

{% block description %}
On this page, you'll find links to some of the resources that have been referred to during the development of this
project. Of course the list is not exhaustive and only serves as a starting point for those who wish to know where the
inspiration for some of this library's behaviour and functionality.
{% endblock description %}


{% block content %}
{{pages.references}}
{% endblock content %}