@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;



 @font-face {
        font-family: Inter;
        src: url(../fonts/Inter.ttf);
      }


      .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 45px;
      }

      @media (max-width: 767px) {
        .markdown-body {
          padding: 15px;
        }
      }
      .progress {
        position: relative;
        height: 4px;
        z-index: 1000;
        top: 0;
      }