on:
  push:
    branches:
      - main
  jobs:
    - name: Publish to NPM
    # The logic below handles the npm publication:
    - uses: actions/checkout@v4
      # these if statements ensure that a publication only occurs when
      # a new release is created:
      if: ${{ steps.release.outputs.release_created }}
    - uses: actions/setup-node@v4
      with:
        node-version: 20
        registry-url: 'https://registry.npmjs.org'
      if: ${{ steps.release.outputs.release_created }}
    - run: npm i
      if: ${{ steps.release.outputs.release_created }}
    - run: |
        npm test
        npm run code:publish
        npm publish
      env:
        NODE_AUTH_TOKEN: ${{secrets.NPM_PUBLISH}}
      if: ${{ steps.release.outputs.release_created }}
