{% for mod, prop in home.demoData %}

<section class="flex-col bg-slate-50 dark:bg-slate-800 my-3">


    <h3 class="font-sans text-base font-normal dark:text-slate-200 text-slate-700">{{mod}}</h3>

    <p class="pb-6 font-sans dark:text-slate-300 text-slate-500 text-sm">{{prop.description}}</p>

    {% for func, props in prop.specs %}
    <h4 class="font-sans text-slate-700  dark:text-slate-300 font-semibold text-base">{{func}}</h4>
    <p class="pt-3 font-sans dark:text-slate-300 text-slate-500 text-sm">{{props.description}}</p>

    <hr class="divide-y-[1.75px] divide-slate-300 ">

    <div class="flex space-x-2 flex-wrap">


        {# Render the params so that it makes visual sense to the viewers #}
        <div>
            <p class="text-sm font-sans font-semibold text-slate-700 dark:text-slate-200">Input</p>
            {% if home.isColorCollection(props.params[0]) %}
            {% for color in props.params[0] %}
            <div class="flex-row space-y-2 flex-wrap items-start">
                <div class="w-8 h-8 rounded-md shadow-md bg-[{{color}}]"></div>
                <p class="text-xs font-mono font-light text-slate-400">{{color}}</p>

            </div>
            {% endfor %}
            {% else %}
            <div class="flex-col space-y-2">
                <p class="text-sm">{{props.params[0]}}</p>
                <div class="w-8 h-8 rounded-md shadow-md bg-[{{props.params[0]}}]"></div>
            </div>
            {% endif %}

        </div>


        {# This div renders output #}
        <div>

            {% if home.isColorCollection(props.expect) %}
            {% for color in props.expect %}
            <div class="flex-row space-y-2 flex-wrap items-start">
                <div class="w-8 h-8 rounded-md shadow-md bg-[{{color}}]"></div>
                <p class="text-xs font-mono font-light text-slate-400">{{color}}</p>

            </div>
            {% endfor %}
            {% else %}
            <div class="flex-col space-y-2">
                <p class="text-sm">{{props.expect}}</p>
                <div class="w-8 h-8 rounded-md shadow-md bg-[{{props.expect}}]"></div>
            </div>
            {% endif %}

        </div>

    </div>

    {% endfor %}

</section>
{% endfor %}