<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block csslinks %}
    <link rel="stylesheet" type="text/css" href="/assets/css/huetiful.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/github-markdown-light.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/atom-one-dark.css" />

    {% endblock csslinks %}

</head>