<header class="pb-8 font-sans sticky top-0 left-0  w-full text-slate-700">
    <nav
        class="text-slate-700 bg-slate-200 dark:text-slate-200 shadow-md shadow-gray-200 dark:shadow-black dark:bg-slate-800">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a class="flex space-x-3 rtl:space-x-reverse items-center font-medium text-base"
                href="https://huetiful-js.com" id="home"><img src="assets/img/logo.png" alt="huetiful-js logo"
                    class="h-8">
                <span
                    class="self-center text-2xl font-light whitespace-nowrap text-slate-700 dark:text-slate-50 ">huetiful-js</span>

            </a>
            <a href="/api/index.html" class="inline-flex space-y-1 items-center font-medium text-base">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"
                    class="inline-block mr-1">
                    <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
                    <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
                </svg><span>API</span>
            </a>
            <a class="inline-flex space-y-1 items-center font-medium text-base"
                href="https://github.com/xml-wizard/huetiful">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"
                    class="inline-block mr-1">
                    <path
                        d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                    </path>
                </svg> <span>GitHub</span>
            </a>

        </div>



        <a class="inline-flex space-y-1 items-center font-medium text-base" href="/download">

            </svg> <span>Download</span>
        </a>

    </nav>
    <div id='progress-bar'
        class='progress dark:bg-gradient-to-r from-orange-400 via-purple-400 to-emerald-400  bg-gradient-to-r from-orange-600 via-purple-600 to-emerald-600' />
</header>