<section class="flex justify-between">
    <div class="flex-col space-y-2">
        <button hx-trigger="click" hx-target="#swap-view" hx-get="{{page.previous.href}}"
            class='flex align-middle space-x-2 p-4' id="previous-button"><svg xmlns="http://www.w3.org/2000/svg"
                width="22" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75"
                stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left">
                <polyline points="15 18 9 12 15 6"></polyline>
            </svg><span></span></button>
        <h5>{{page.previous.title}}</h5>


    </div>





    <div class="flex-col space-y-2">
        <button hx-trigger="click" hx-target="#swap-view" hx-get="{{page.next.href}}" class='flex space-x-2 p-4'
            id="next-button"><span><svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-chevron-right">
                    <polyline points="9 18 15 12 9 6"></polyline>
                </svg></span></button>
        <h5>{{page.next.title}}</h5>

    </div>

</section>