<section class="flex-col space-y-1 p-4">
    <h4 class="font-medium text-lg font-sans text-slate-700">In this page:</h4>
    <div>
        <ul class="flex-col space-y-1" id="toc">

        </ul>
    </div>
</section>